
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Không có quyền</title>
</head>
<body>
    <div>
        <h1 style="color:red">Không có quyền truy cập</h1>
    </div>
</body>
</html>
