@model IEnumerable<WebThucPham.Models.TaiKhoan>

@{
    ViewBag.Title = "Danh sách tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Danh sách tài khoản</h2>

<table class="table table-striped table-bordered">
    <tr>
        <th>
            Tên đăng nhập
        </th>
        <th>
            Mật khẩu
        </th>
        <th>
            Họ và tên
        </th>
        <th>
            Số điện thoại
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           <a href="/Admin/TaiKhoan/ChiTiet?username=@item.Username">@Html.DisplayFor(modelItem => item.Username)</a> 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoVaTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoDienThoai)
        </td>
        
    </tr>
}

</table>
